@use './scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: $font-family;
	font-weight: 400;
	line-height: 1.5;

	background-color: $body-bg;
	color: $text-color;

	main {
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
		border: 1px solid $main-color;
		border-radius: 20px;
		max-width: 1800px;
		margin: 50px auto;

		* {
			outline: none;
		}
	}
}

h1 {
	color: $main-color;
}

.allMovies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

// a {
// 	text-decoration: none;
// 	color: unset;
// }

// @media (hover: hover) {
// 	a:hover {
// 		color: $main-color;
// 	}
// }

// button,
// input {
// 	outline: 0;
// }

// ul {
// 	list-style-type: none;
// }

// img {
// 	min-width: 100%;
// }

// iframe {
// 	border: 0;
// }
